---
BasedOnStyle: Microsoft
AccessModifierOffset: '-4'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'true'
BinPackParameters: 'false'
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
PointerAlignment: Left

...
